<!-- OUR COLLECTION -->

<section class="section-our-collection" id="collection">
  <div class="container our-collection-container">
    <h2 class="our-collection-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-li">
        <div class="our-collection-img-box">
          <img class="img-border" srcset="
              ./img/collection/poltava.jpg      347w,
              ./img/collection/poltava@2x.jpg   694w,
              ./img/collection/poltava-t.jpg    342w,
              ./img/collection/poltava-t@2x.jpg 684w,
              ./img/collection/poltava-m.jpg    335w,
              ./img/collection/poltava-m@2x.jpg 670w
            " sizes="(min-width: 1200px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px
          " src="./images/collection/poltava.jpg" alt="AUGUST Poltava women's blouseRING" />
          <div class="our-collection-describtion">
            <h3 class="our-collection-describtion-title">
              AUGUST Poltava women's blouseRING
            </h3>
            <p class="our-collection-describtion-text">3300 UAH</p>
          </div>
        </div>
      </li>

      <li class="our-collection-li">
        <div class="our-collection-img-box">
          <img class="img-border" srcset="
              ./img/collection/gorgany.jpg      347w,
              ./img/collection/gorgany@2x.jpg   694w,
              ./img/collection/gorgany-t.jpg    342w,
              ./img/collection/gorgany-t@2x.jpg 684w,
              ./img/collection/gorgany-m.jpg    335w,
              ./img/collection/gorgany-m@2x.jpg 670w
            " sizes="(min-width: 1200px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px
          " src="./images/collection/gorgany.jpg" alt="Women's blouse Gorgany" />
          <div class="our-collection-describtion">
            <h3 class="our-collection-describtion-title">
              Women's blouse Gorgany
            </h3>
            <p class="our-collection-describtion-text">3350 UAH</p>
          </div>
        </div>
      </li>

      <li class="our-collection-li">
        <div class="our-collection-img-box">
          <img class="img-border" srcset="
              ./img/collection/crimea.jpg      347w,
              ./img/collection/crimea@2x.jpg   694w,
              ./img/collection/crimea-t.jpg    342w,
              ./img/collection/crimea-t@2x.jpg 684w,
              ./img/collection/crimea-m.jpg    335w,
              ./img/collection/crimea-m@2x.jpg 670w
            " sizes="(min-width: 1200px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px
          " src="./images/collection/crimea.jpg" alt="Women's blouse Crimea" />
          <div class="our-collection-describtion">
            <h3 class="our-collection-describtion-title">
              Women's blouse Crimea
            </h3>
            <p class="our-collection-describtion-text">4000 UAH</p>
          </div>
        </div>
      </li>

      <li class="our-collection-li">
        <div class="our-collection-img-box">
          <img class="img-border" srcset="
              ./img/collection/verkhovina.jpg      347w,
              ./img/collection/verkhovina@2x.jpg   694w,
              ./img/collection/verkhovina-t.jpg    342w,
              ./img/collection/verkhovina-t@2x.jpg 684w,
              ./img/collection/verkhovina-m.jpg    335w,
              ./img/collection/verkhovina-m@2x.jpg 670w
            " sizes="(min-width: 1200px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px
          " src="./images/collection/verkhovina.jpg" alt="Men's shirt Verkhovina" />
          <div class="our-collection-describtion">
            <h3 class="our-collection-describtion-title">
              Men's shirt Verkhovina
            </h3>
            <p class="our-collection-describtion-text">3100 UAH</p>
          </div>
        </div>
      </li>

      <li class="our-collection-li">
        <div class="our-collection-img-box">
          <img class="img-border" srcset="
              ./img/collection/mountain.jpg      347w,
              ./img/collection/mountain@2x-1.jpg 694w,
              ./img/collection/mountain-t.jpg    342w,
              ./img/collection/mountain-t@2x.jpg 684w,
              ./img/collection/mountain-m.jpg    335w,
              ./img/collection/mountain-m@2x.jpg 670w
            " sizes="(min-width: 1200px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px
          " src="./images/collection/mountain.jpg" alt="Mountain men's shirt" />
          <div class="our-collection-describtion">
            <h3 class="our-collection-describtion-title">
              Mountain men's shirt
            </h3>
            <p class="our-collection-describtion-text">3300 UAH</p>
          </div>
        </div>
      </li>

      <li class="our-collection-li">
        <div class="our-collection-img-box">
          <img class="img-border" srcset="
              ./img/collection/yasen.jpg      347w,
              ./img/collection/yasen@2x.jpg   694w,
              ./img/collection/yasen-t.jpg    342w,
              ./img/collection/yasen-t@2x.jpg 684w,
              ./img/collection/yasen-m.jpg    335w,
              ./img/collection/yasen-m@2x.jpg 670w
            " sizes="(min-width: 1200px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px
          " src="./images/collection/yasen.jpg" alt="Men's shirt Yasen" />
          <div class="our-collection-describtion">
            <h3 class="our-collection-describtion-title">Men's shirt Yasen</h3>
            <p class="our-collection-describtion-text">1700 UAH</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- OUR COLLECTION -->