<div class="header-container">
  <a href="#" class="header-logo">
    <!-- <img src="img/header-logo.svg" alt="logo" /> -->
    <img src="../img/svg/logo.svg" alt="logo" />
  </a>
  <nav class="header-menu">
    <ul class="header-menu-list">
      <li class="header-menu-item header-list">
        <a href="#about" class="header-menu-link">About us</a>
      </li>
      <li class="header-menu-item header-list">
        <a href="#collection" class="header-menu-link">Our collection</a>
      </li>
      <li class="header-menu-item header-list">
        <a href="#order" class="header-menu-link">CUSTOMER ORDER</a>
      </li>
      <li class="header-menu-item header-list">
        <a href="#testimonials" class="header-menu-link">TEstimonials</a>
      </li>
    </ul>
  </nav>

  <address class="header-tel">
    <a href="tel:+380684439426" class="header-tel-link">+380 (68) 443-94-26</a>
  </address>
  <ul class="header-social-list">
    <li class="header-social-item header-list">
      <a
        href="https://www.facebook.com/goITclub/"
        class="header-social-link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="link to facebook"
      >
        <svg class="header-icon" width="28" height="28">
          <!-- <use href="img/header-icons.svg#icon-facebook"></use> -->
          <use href="../img/svg/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header-social-item header-list">
      <a
        href="https://www.instagram.com/goitclub/"
        class="header-social-link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="link to instagram"
      >
        <svg class="header-icon" width="28" height="28">
          <!-- <use href="img/header-icons.svg#icon-instagram"></use> -->
          <use href="../img/svg/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-social-item header-list">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="header-social-link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="link to youtube"
      >
        <svg class="header-icon" width="28" height="28">
          <!-- <use href="img/header-icons.svg#icon-youtube"></use> -->
          <use href="../img/svg/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
  <button class="header-menu-burger" type="button" data-mobile-open>
    <svg
      class="header-burger-icon"
      width="44"
      height="30"
      aria-label="mobile menu open icon"
    >
      <!-- <use href="img/header-icons.svg#icon-burger"></use> -->
      <use href="../img/svg/icons.svg#icon-burger"></use>
    </svg>
  </button>
</div>
<!-- ====================== MOBILE MENU ====================== -->
<div class="header-mobile-menu header-is-hidden" data-mobile>
  <div class="header-menu-content">
    <div class="header-menu-tel">
      <a href="tel:+380684439426" class="header-menu-tel-link"
        >+380 (68) 443-94-26</a
      >
    </div>
    <button type="button" class="header-menu-close-btn" data-mobile-close>
      <svg
        class="header-menu-close-icon"
        width="36"
        height="36"
        aria-label="mobile menu close icon"
      >
        <!-- <use href="img/header-icons.svg#icon-cross"></use> -->
        <use href="../img/svg/icons.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</div>
