<section class="hero-section">
  <div class="hero-section-container container">
    <div class="hero-align-container">
      <img
        class="hero-model-img"
        srcset="
          ./img/hero/model.jpg      392w,
          ./img/hero/model@2x.jpg   784w,
          ./img/hero/model-t.jpg    413w,
          ./img/hero/model-t@2x.jpg 826w,
          ./img/hero/model-m.jpg    335w,
          ./img/hero/model-m@2x.jpg 670w
        "
        sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="./img/hero/model.jpg"
        alt="Model in embrjidered shirt"
      />
      <div class="hero-title-container">
        <div class="hero-title-alignment-container">
          <h1 class="hero-title">
            Reviving the traditional
            <span class="hero-text-accent">Ukrainian</span> artistry in every
            stitch.
          </h1>
        </div>
        <a class="hero-link link" href="#order"
          >order
          <svg class="hero-btn-arrow" width="24" height="17">
            <use href="./img/svg/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-star-embr">
      <div class="hero-star-container">
        <img
          class="hero-star"
          src="./img/hero/star.png"
          alt="A little Ukrainian star"
        />
        <p class="hero-hand-made-text">all embroidery is made by hand</p>
      </div>
      <div class="hero-embr">
        <img
          class="hero-ua-img"
          srcset="./img/hero/uaemb@2x.jpg 2x"
          src="./img/hero/uaemb.jpg"
          alt="Lovely Ukraine on shirt"
        />
      </div>
    </div>
  </div>
</section>
