<section class="your-order">
    <div class="bg-img container"></div>
    <div class="order container">
        <div class="img-container">
            <img src="./img/order-form/embr.jpg">
        </div>
        <form class="order-box">
            <h2 class="order-title"><span class="order-title-y">Your order</span> is our priority: Personalized approach
                and quality of service</h2>

            <div class="form-wrapper">

                <input class="form-input" name="user-name" type="text" id="user-name" pattern="[a-zA-Zа-яА-ЯіІїЇґҐ']+"
                    placeholder="Enter your full name" title="Olena Chyzhak" required>
            </div>
            <div class="form-wrapper">

                <input class="form-input" name="user-email" type="email" id="user-email" placeholder="Enter your email"
                    required>
            </div>
            <div class="form-wrapper">

                <textarea class="form-input-comment" name="user-comment" id="user-comment"
                    placeholder="Comments"></textarea>
            </div>

            <button class="order-btn" type="submit">Send
                <svg class="order-btn-icon" width="26px" height="10px" aria-label="send-icon">
                    <use href="./icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </form>
    </div>
</section>