<section class="testimonials container" id="testimonials">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
        <li class="testimonials-list-response">
            <img class="testimonials-people-img" srcset="
            ./img/testimonials/png/maria.png,
            ./img/testimonials/png/maria@2x.png 2x" src="./img/testimonials/png/maria.png" alt="User avatar" width="64"
                height="64">
            <h3 class="testimonials-people-title">Maria Tkachuk</h3>
            <p class="testimonials-response">I was pleasantly surprised by the variety of embroidery offered by
                Vyshyvanka
                Vibes.
                They
                have models for every taste -
                from classic to modern. I bought an embroidered dress to celebrate a special occasion and received
                impeccable
                service
                and refinement in every detail.</p>
        </li>
        <li class="testimonials-list-response testimonials-hidden-mobile">
            <img class="testimonials-people-img"
                srcset="./img/testimonials/png/sergey.png, ./img/testimonials/png/sergey@2x-1.png 2x"
                src="./img/testimonials/png/sergey.png" alt="User avatar" width="64" height="64">
            <h3 class="testimonials-people-title">Sergey Rybachok</h3>
            <p class="testimonials-response">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
                masterpieces! I
                fell in love with the quality
                of the materials and the skill of the artisans behind each product. This is my favorite embroidery
                shop
                where I
                always
                find something special and unique.</p>
        </li>
        <li class="testimonials-list-response testimonials-hidden-tablet">
            <img class="testimonials-people-img" srcset="
                        ./img/testimonials/png/natalia.png,
                        ./img/testimonials/png/natalia@2x-2.png 2x" src="./img/testimonials/png/natalia.png"
                alt="User avatar" width="64" height="64">
            <h3 class="testimonials-people-title">Natalia Chatuk</h3>
            <p class="testimonials-response">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
                culture. Their
                embroidery reflects the spirit and
                traditions of our people. I not only buy embroidered shirts for myself, but also give them to my
                friends
                abroad
                as a
                symbol of our beauty and national pride.</p>
        </li>

    </ul>


</section>