/* ======= about-us ========= */
.section-about-us {
  background-image: url(../img/bg-ornament/m-ornament-a.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 375px;
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.box-about-us {
  position: relative;
  max-width: 375px;
}
/* background-color: transparent;
  position: absolute;
  padding: 0px 0.615px 0.455px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: url(../img/bg-ornament/m-ornament-a.png);
  background-repeat: no-repeat;
  background-size: 459px 408px;
  width: 459px;
  height: 408px;
  background-size: 100%;
  background-size: contain;
  bottom: 0px;
} */

.list-about-us {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  z-index: 299;
  margin-bottom: 80px;
}

.box-text-list-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.title-about-us {
  color: var(--secondary-color);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}
.text-list-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.text-item-about-us {
  color: var(--primary-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
.box-image-about-us {
  width: 335px;
  height: 499px;
  border-radius: 4px;
  background-color: transparent;
}
