/* ======= about-us ========= */
/* ======= mobile =========== */
.section-about-us {
  background-image: url(../img/bg-ornament/m-ornament-a.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 375px;
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18.45px;
  max-height: 1019px;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: url(../img/bg-ornament/m-ornament-a@2x.png);
  }
}
.list-about-us {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  z-index: 299;
  margin-bottom: 80px;
}

.box-text-list-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.title-about-us {
  color: var(--secondary-color);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}
.text-list-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.text-item-about-us {
  color: var(--primary-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
.box-image-about-us {
  width: 335px;
  height: 499px;
  border-radius: 4px;
  background-color: transparent;
}
/* .image-about-us {
  width: 100%;
  height: 100%;
} */
/* ======= mobile =========== */
