/* FOR MOBILE */

@media screen and (max-width: 767px) {
  .our-collection-container {
    background: #1c2225;
    padding: 18px 20px;
  }

  .our-collection-title {
    display: flex;
    justify-content: center;
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03;

    align-self: stretch;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 18px;
  }

  .our-collection-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    max-height: 3062px;
    border-radius: 4px;
  }

  .our-collection-li {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .our-collection-li:last-child {
    margin-bottom: 0;
  }

  .our-collection-img-box {
    display: flex;
    max-width: 335px;
    flex-direction: column;
    align-items: flex-start;
  }

  .img-border {
    border-radius: 4px;
    background: url(../img/collection/poltava-m.jpg),
      lightgray 50% / cover no-repeat;
  }

  .our-collection-describtion {
    padding-top: 18px;
    gap: 8px;
  }

  .our-collection-describtion-title {
    width: 335px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .our-collection-describtion-text {
    color: rgba(252, 249, 249, 0.4);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

/* FOR TABLET */

@media screen and (min-width: 768px) {
  .our-collection-title {
    display: flex;
    justify-content: center;

    color: #fcf9f9;
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.03;

    align-self: stretch;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 18px;
  }

  .our-collection-list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;

    max-width: 768px;
    max-height: 1770px;
  }

  .our-collection-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: calc((100% - 24px) / 2);
  }

  .our-collection-li:last-child {
    margin-bottom: 0;
  }

  .our-collection-img-box {
    display: flex;
    width: 342px;
    flex-direction: column;
    align-items: flex-start;
  }

  .img-border {
    border-radius: 4px;
    background: url(../img/collection/poltava-m.jpg),
      lightgray 50% / cover no-repeat;
  }

  .our-collection-describtion {
    padding-top: 18px;
    gap: 8px;
  }

  .our-collection-describtion-title {
    width: 342px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .our-collection-describtion-text {
    color: rgba(252, 249, 249, 0.4);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;

    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

/* FOR DESKTOP */

@media screen and (min-width: 1280px) {
  .our-collection-title {
    display: flex;
    justify-content: center;

    color: #fcf9f9;
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.03;

    align-self: stretch;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 18px;
  }

  .our-collection-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1280px;
  }

  .our-collection-li {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;

    align-items: center;
    gap: 8px;
    width: calc((100% - 48px) / 3);
  }

  .our-collection-li:last-child {
    margin-bottom: 0;
  }

  .our-collection-img-box {
    display: flex;
    width: 342px;
    flex-direction: column;
    align-items: flex-start;
  }

  .img-border {
    border-radius: 4px;
    background: url(../img/collection/poltava-m.jpg),
      lightgray 50% / cover no-repeat;
  }

  .our-collection-describtion {
    padding-top: 18px;
    gap: 8px;
  }

  .our-collection-describtion-title {
    width: 342px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .our-collection-describtion-text {
    color: rgba(252, 249, 249, 0.4);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
