/* p {
  color: var(--main-text-color);                    npm run dev
} */
.header-container {
  margin: 20px auto 0 auto;
  min-height: 52px;
  display: flex;
  align-items: center;
}
.header-menu {
  display: none;
}
.header-tel {
  display: none;
}
.header-social-list {
  display: flex;
  column-gap: 12px;
}

.header-social-item {
  align-items: center;
  padding: 8px;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-item:hover {
  border: 1px solid #ecd979;
}
.header-icon {
  fill: #fcf9f9;
}
.header-menu-close-icon {
  stroke: #1c2225;
}

.header-menu-burger {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  margin-left: 12px;
}
.header-burger-icon {
  stroke: #ecd979;
}
/* =================================================================================================== */

@media screen and (max-width: 320px) {
  .header-container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-social-list {
    margin-left: 24px;
  }
}

@media screen and (min-width: 320px), (min-width: 375px) {
  .header-container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-menu-burger {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    margin-left: 12px;
  }
  .header-burger-icon {
    stroke: #ecd979;
  }
  .header-social-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .header-menu-burger {
    display: none;
  }

  .header-menu {
    display: flex;
    margin-left: 60px;
    margin-right: auto;
  }

  .header-menu-list {
    display: flex;
    column-gap: 25px;
  }
  .header-menu-link {
    color: #fcf9f9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover {
    color: #ecd979;
  }

  .header-tel {
    margin-right: 20px;
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-tel:hover {
    border: 1px solid #ecd979;
  }

  .header-tel-link {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
  }
}
/* =============================================== */
.header-mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 274px;
  height: 100%;
  background-color: #ecd979;
  z-index: 9999999;
  transform: translate(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu.header-is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(100%);
  pointer-events: none;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 40px;
  margin: 20px 20px 0 20px;
}
.header-menu-close-btn {
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  fill: white;
}

.header-menu-tel {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  padding: auto;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-tel:hover {
  border: 1px solid #ecd979;
}

.header-menu-tel-link {
  color: #1c2225;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: -0.0029em;
}
.header-mobile-link {
  display: flex;
  flex-direction: column;
  margin-top: 186px;
  /* margin-bottom: 185px; */
  margin-right: 20px;
  margin-left: auto;

  color: #1c2225;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
}
.header-mobile-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header-menu-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 248px;
  background-image: url('../img/ornament/m-ornament-modal@2x.png'); /* URL вашего фонового изображения */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
