/* ============================= Adaptive =========================== */

.hero-star-embr {
  display: none;
}

.hero-section-container {
  padding-top: 60px;
  padding-bottom: 80px;
}
.hero-align-container {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 40px;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.hero-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--secondary-color);
}

.hero-text-accent {
  color: var(--accent-color);
}

.hero-link {
  display: flex;
  column-gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  width: fit-content;
  padding: 14px 36px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--secondary-color);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  border-color: var(--accent-color);
}

.hero-btn-arrow {
  fill: var(--accent-color);
}

/* ======================== Tablet ========================  */

@media screen and (min-width: 768px) {
  * .hero-section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .hero-title-container {
    row-gap: 40px;
    padding-top: 26px;
  }

  .hero-model-img {
    width: 413px;
  }

  .hero-title {
    font-size: 54px;
    font-weight: 400;
    line-height: 1.19;
  }
  .hero-link {
    font-size: 16px;
    padding: 14px 39px;
    margin-left: 141px;
  }

  .hero-star-embr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero-star-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 115px;
    align-items: center;
    text-align: center;
  }
  .hero-hand-made-text {
    letter-spacing: -0.04em;
    color: var(--primary-color);
  }
  .hero-embr {
    width: 139px;
    height: 97px;
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
    overflow: hidden;
  }
  .hero-ua-img {
    transform: scale(1.1);
  }
}

/* ======================== Desktop ========================  */

@media screen and (min-width: 1280px) {
  .hero-section-container {
    padding-top: 100px;
    padding-bottom: 126px;
  }

  .hero-align-container {
    flex-direction: row;
    column-gap: 40px;
    row-gap: 0;
  }
  .hero-title-container {
    padding-top: 94px;
  }
  .hero-title {
    width: 518px;
  }

  .hero-star-embr {
    padding-top: 14px;
  }
  .hero-star {
    animation: 10s ease-in-out 1s infinite alternate rotate;
    animation-play-state: paused;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .hero-star-container:hover .hero-star,
  .hero-star-container:focus .hero-star {
    animation-play-state: running;
  }

  .hero-embr {
    height: 100px;
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
    overflow: hidden;
  }
  .hero-ua-img {
    transform: scale(1);
  }
}

/* ======================== Desktop 1440 ========================  */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .hero-section-container {
    padding-bottom: 150px;
  }

  .hero-title-container {
    padding-top: 66px;
  }

  .hero-title {
    width: 632px;
    padding-right: 20px;
    font-size: 64px;
    line-height: 1.15;
  }

  .hero-star-embr {
    padding-top: 66px;
  }

  .hero-embr {
    height: 98px;
  }
}
