@media screen and (max-width: 767px) {
  .img-container {
    display: none;
  }
}

.bg-img {
  max-width: 375px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/order-form/model-m.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .bg-img {
    background-image: url('../img/order-form/model-m@2x.jpg');
    background-size: cover;
  }
}

.order {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

.order-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  color: var(--secondary-color);
}

.order-title-y {
  color: #ecd979;
}

.form-input-box {
  margin-bottom: 20px;
}

.form-textarea-box {
  margin-bottom: 40px;
}

.form-input {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  width: 100%;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
  outline: transparent;
}

.form-input-comment {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: rgba(252, 249, 249, 0.5);
  width: 100%;
  height: 196px;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:hover,
.form-input-comment:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
  outline: transparent;
}

.order-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-btn {
  display: flex;
  width: 145px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  border: 1px solid #ecd979;
  outline: transparent;
}

.order-btn-icon {
  width: 73px;
  height: 21px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .bg-img {
    max-width: 768px;
    height: 776px;
    background-image: url('../img/order-form/model-t.jpg');
  }

  .img-container {
    display: block;
    margin-left: auto;
    margin-bottom: 79px;
  }

  .img-form {
    border-radius: 4px;
  }

  .your-order {
    background-image: url('../img/bg-ornament/t-ornament-o.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .order {
    flex-direction: column-reverse;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 0;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .bg-img {
      background-image: url('../img/order-form/model-t@2x.jpg');
      background-size: cover;
    }

    .your-order {
      background-image: url('../img/bg-ornament/t-ornament-o@2x.png');
      background-size: auto 484px;
    }
  }

  .order-title {
    font-size: 44px;
    line-height: 1.32;
    width: 542px;
  }

  .form-input {
    font-size: 16px;
    width: 508px;
  }

  .form-input-comment {
    font-size: 16px;
    width: 508px;
  }

  .order-btn-box {
    display: block;
  }

  .order-btn {
    width: 168px;
    padding: 14px 39px;
    font-size: 16px;
  }

  .order-btn-icon {
    width: 90px;
    height: 22px;
  }
}

/* DESCTOP */
@media screen and (min-width: 1280px) {
  .bg-img {
    max-width: 1280px;
    height: 776px;
    background-image: url('../img/order-form/model.jpg');
  }

  .your-order {
    background-image: url('../img/bg-ornament/ornament-o.png');
    background-size: auto 484px;
  }

  .img-container {
    margin-left: 0;
    padding: 0;
  }

  .order {
    max-width: 1280px;
    padding-left: 64px;
    padding-right: 0;
    flex-direction: row;
    gap: 50px;
    padding-top: 150px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .bg-img {
    background-image: url('../img/order-form/model@2x.jpg');
  }

  .your-order {
    background-image: url('../img/bg-ornament/ornament-o@2x.png');
  }
}
