@import url('./reset.css');
@import url('./header.css');

:root {
  --main-bg-color: #1c2225;
  --main-text-color: #fcf9f9;
  --accent-color: #ecd979;

  font-family: 'Manrope', sans-serif;

  color: FCF9F9;
  background-color: var(--main-bg-color);
}
